body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #60cbd2, #2575fc);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

input, button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 90%;
}

button {
  background: #e8f0ec;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00cc6a;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgba(255,255,255,0.2);
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

#total {
  font-weight: bold;
  font-size: 1.5em;
  color: #eaf0ed;
}
